.food_item{
    border-width: 4px;
    border-color: black;

}
.text h2 {
    align-items: left;
    text-align: left;
}

.review{
    text-align: left;
    margin: 20px;
    padding: 20px;
    border: 5px solid #36365C;
}

.review p{
    margin: 0;
    padding: 0;
}

.text div.dish_info{
    margin: 20px;
    padding: 20px;
    border: 5px solid #36365C;
}

.text h3.review_username{
    font-size: 20px;
    font-family: futura-bold;
}